body {
  background-color: #283b4d;
  text-align: center;
  color: white;
  font-family: Rubik;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 70px;
}

h3 {
  font-size: 40px;
}

p {
  font-size: 22px;
}

